.messages {
  background: url("https://img.freepik.com/free-photo/chat-bubbles-speech-bubble-icon-website-ui-pink-background-3d-rendering-illustration_56104-1313.jpg?w=360");
  background-size: 100%;
  background-repeat: repeat-y;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}
