@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://cdn.dribbble.com/users/2479503/screenshots/6384602/chat_background.png");
  background-size: 100%;
  background-repeat: repeat-y;
  height: 150vh;

  .container {
    border: 1px solid cadetblue;
    border-radius: 20px;
    width: 65%;
    height: 80%;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 200px;
    box-shadow: 0px 1px 24px 10px rgba(192, 72, 240, 0.7);
    -webkit-box-shadow: 0px 1px 24px 10px rgba(192, 72, 240, 0.7);
    -moz-box-shadow: 0px 1px 24px 10px rgba(192, 72, 240, 0.7);

    @include tablet {
      width: 90%;
    }
  }
}

.footer-container {
  position: absolute;
  top: 150vh;
}
